
*{
    padding:0; 
    margin:0;
    list-style:none;
}

.main {
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}

.photo {
    width: 480px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    
}

.main .photo .inphoto {
    width: 33.3333%;
    height: 155px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #777;
}

.img {
    width: 236px;
    height: 310px;
    margin-left: 8px;
    float: left;
    border: 1px solid #777;
    box-sizing:border-box;
}

.login {
    width: 280px;
    height: 310px;
    margin-left: 8px;
    float: left;
    box-sizing:border-box;
}

.inner{
    border: 1px solid #777;
    height:147px;
    margin-bottom:8px;
}

.content {
    padding:10px 10px;
    margin-top:30px;
    overflow: hidden;
    font-size: 10px;
    font-weight: bold;
    color:#777;
   
}

.content .left {
    float: left;
}

.content .right {
    float: right;
}
.logindiv{
    padding:0 10px;
}

.logindiv button{
    background-color:#19ce60;
    border:none;
    color:#fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 60px;
    cursor:pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    width:100%
    
}
