*{margin:0; padding:0; list-style: none;}

.header{
    width:960px;
    height: 160px;
    border:1px solid #777;
    margin: 0 auto;
    position:relative;
    box-sizing: border-box;
}

.header ul li{float:left;display: inline;border:1px solid #777; padding:2px 10px;}
.header ul li:first-child{border-radius: 10px 0 0 10px;}
.header ul li:last-child{border-radius: 0 10px 10px 0;}

.header ul{overflow: hidden;}
.header ul li a{
    text-decoration: none;
    
}

.header ul li:hover{
    background-color: black;
    display: inline-block;
    color:white;
}


.header .content{
    position:absolute;
    left:20px;
    top: 30px;
}


.header .tbutton{
    position:absolute;
    right:0;
    top: 0;
}

.header .bbutton{
    position:absolute;
    right:0;
    bottom: 0;
}